@{
    ViewData["Title"] = "Home Page";
}

<div class="formcontainer">
    <h1 class="display-4">@ViewData["Test"]</h1>

    <form asp-controller="Home" asp-action="Login" method="post">
        <label for="username" >Username:</label>
        <br>
        <input type="text" name="username" id="username" class="filedinput" />
        <br>
        <label for="password">Password:</label>
        <br>
        <input type="password" name="password" id="password" class="filedinput"/>
        <br>
        <button type="submit">Login</button>
    </form>
    @if (ViewData["ErrorMessage"] != null)
            {
    <div class="alert alert-danger" role="alert">
        @ViewData["ErrorMessage"]
    </div>
            }
</div>
