<div class="row">
    <form method="post" asp-controller="Home" asp-action="Register">
        <label for="username">Username</label>"
        <input type="text" name="username" id="username"/>

        <label for="password">Password</label>
        <input type="password" name="password" id="password" />

        <button type="submit" class="btn btn-primary">Register</button>
    </form>

    @if (ViewData["ErrorMessage"] != null)
    {
    <div class="alert alert-danger" role="alert">
        @ViewData["ErrorMessage"];    </div>

     }
</div>
