
@model Signaler.Controllers.MessagesViewModel

<div id="messages">
    @foreach (var msg in Model.Messages)
    {
        <div class="row">
            <div class="col text-left">
                @{ 
                    var name = msg.User.Username;
                    if (Model.Username.Equals(name))
                    {
                        name = "Me";
                    }

                }
                <p>@name:</p>
                <p>@msg.MessageText</p>
            </div>
        </div>
    }
</div>